<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlLab.Properties.Settings.laboratorioConnectionString"
            connectionString="server=10.66.122.42;user id=secac;password=secac;database=laboratorio"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>